.venv/
.key/
.key
.hot
*.key/
.hot/

node_modules/
.tmp/
assets/js/results/

.idea/
*.orig
.sass-cache/
*.css.map

.idea/
.vscode/

*~
*.project
*.pydevproject

*.pyc
*.xml
.coverage

notes
*.log

.thumbs.db
ssh_keys

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

